[submodule "node-poweredup"]
	path = node-poweredup
	url = https://github.com/nathankellenicki/node-poweredup.git
[submodule "bricknil"]
	path = bricknil
	url = https://github.com/virantha/bricknil.git
[submodule "pylgbst"]
	path = pylgbst
	url = https://github.com/undera/pylgbst.git
